# Environnements
.env
.env.local
.env.*.local

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.Python

# Node
node_modules/
.next/
.vercel/
out/

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
